{% extends './base.html' %}

{% block content %}
<main>
    <div class="container py-5">

        <div class="row justify-content-center">
            {% for book in books %}
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    {% if book.image %}
                    <img src="{{ url_for('static', filename='images/' ~ book.image) }}" class="card-img-top" alt="{{ book.title }}" style="height: 300px; width: 300px object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default_image.png') }}" class="card-img-top" alt="No image available" style="height: 300px; width: 300px object-fit: cover;">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <p class="card-text"><small class="text-muted">Pages: {{ book.pages }}</small></p>
                        
                        <div class="d-flex justify-content-between">
                            <a href="{{ url_for('books.show', id=book.id) }}" class="btn btn-info text-white">Show</a>
                            <a href="{{ url_for('books.books_edit', id=book.id) }}" class="btn btn-warning text-white">Edit</a>
                            <form action="{{ url_for('books.delete', id=book.id) }}" method="POST" style="display:inline;">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mb-4 text-center">
            <a href="{{ url_for('books.create') }}" class="btn btn-primary">
                Add New Book
            </a>
        </div>
    </div>
</main>
{% endblock %}
